<!DOCTYPE html>
<html lang ="en">
<head>
    <%- include('../views/layouts/head'); %>
</head>
<header>
    <%- include('../views/layouts/navbar'); %>
</header>
<body>
<div class="d-flex">

    <!-- Element on the left -->
    <div class="px-5">
        <p>Text</p>
    </div>

    <!-- Vertical divider -->
    <div class="vr" style="height: 250px;"></div>

    <!-- Element on the right -->
    <div class = "px-5">
        <div class="py-3">
            <div class = "row">
                <div class = "col">
                    <label for = "right-label" class = "text-right">Your name</label>
                </div>
                <div class = "col">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
                </div>
            </div>
        </div>
        <div class ="py-1">
                <div class = "row">
                    <div class = "col">
                        <label for = "right-label" class = "text-right">Your name</label>
                    </div>
                    <div class = "col">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
                    </div>
                </div>
        </div>

    </div>
</div>
</body>
</html>