<!DOCTYPE html>
<html lang ="en">
  <head>
    <%- include('../views/layouts/head'); %>
  </head>
  <header>
    <%- include('../views/layouts/navbar'); %>
  </header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
